.list-item{
  display: flex;
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  cursor:move;
  align-items: center;
  background-color:  rgba(255, 255, 255, 0.867);
  border: 1px solid #DDDD;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #DDD;
  .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:  #DDDD;
    margin-right: 20px;
  }.content{
    text-align: left;
    .title{
      color: grey;
    }
  }
}